*, *::after, *::before {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px; 
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px; 
    font-size: 18px;
}

header {
    background: #ebebeb;
    height: 100px;
    width: 1000px; 
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    background: #ebebeb;
    height: 100px;
    width: 1000px; 
    margin-bottom: 20px;
    margin-top: 10px;
}

section {
    background: #ebebeb;
    height: 300px; 
    width: 550px;
    float: left; 
    margin-right: 20px;
}

aside {
    background: #ebebeb;
    height: 300px;
    width: 430px;
    float: left;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

footer {
    background: #ebebeb;
    height: 100px;
    width: 1000px; 
    margin-bottom: 10px;
    margin-top: 20px;
}

#article {
    background: #777;
    color: #ebebeb;
    height: 200px;
    width: 530px;
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    margin-left: 10px;
}

#h1h2h3 {
    background: #ebebeb;
    color: #777;
    height: 55px; 
    width: 480px;
    margin-top: 40px;
    margin-left: 25px;
}

#p {
    background: #ebebeb;
    color: #777;
    height: 55px; 
    width: 480px;
    margin-top: 10px;
    margin-left: 25px;
}
